@charset "uft-8"
    
    
    
    
    .haeder { width:100%; }
    .hd_wrap { width:100%; height: 10px; background-color:#e2e8ef; }
    .item1 { width: 106px; height: 42px; position: absolute; left: 130px; top: 36px; }
    .img_wrap { width: 100%; height: 667px; }


